@import "../../../binus-2017-145-core/sass/_component-toolkit.scss";

/**
 * Student Groups
 */
.student-group-wrapper{
    @include media-breakpoint-up(md){
        .student-group{
            width: 20% !important;
            .image-box{
                width: 200px;height: 200px;
            }
        }
    }
}