@import "../../../binus-2017-145-core/sass/_component-toolkit.scss";

#community-logo{
    margin-bottom: 40px;
    background: none;
}
#inside_page .block-header .the-h3{
    font-weight: 600;
    text-align: center;
    text-transform: unset;
    font-size: emFont(32px);
    line-height: 1.1em;
    color: #2A292A;
}
#community-information{
    background: #F4F5F7;
    border-radius: 6px;
    margin: 32px 0 0;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;

    .info-wrapper{
        padding: 12px 24px;
    }

    .info{
        display: block;
        margin-top: 5px;
    }

    @include media-breakpoint-up(md){
        .info-wrapper{
            width: 50%;
        }
    }
}
#community-socmeds{
    clear: both;
    .socmed-item{
        float: left;
        margin: 10px 5px 0 0;
    }
    .the-icon{

    }
}