@import "../../../binus-2017-145-core/sass/_component-toolkit.scss";

/**
 * Student Groups
 */
.student-group-wrapper{
    display: flex;
    flex-wrap: wrap;
    .student-group{
        margin: 0 0 $general-margin;
        &:last-child{
            display: none;
        }
    }
    .image-box{
        background: none;
    }

    @include media-breakpoint-up(md){
        .student-group{
            &:last-child{
                display: block;
            }
        }
    }
}